<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/cart.css">
    <link rel="stylesheet" href="./public/font-awesome-4.7.0//css/font-awesome.min.css">
    <script src="./public/js/jquery-3.4.1.min.js"></script>
    <script src="./public/js/vue.min.js"></script>
    <script src="./public/js/axios.min.js"></script>
    <script src="./public/js/cookieControl.js"></script>
</head>

<body>
    <div id="app">
        <!-- 顶部栏 -->
        <header>
            <nav>
                <a href="./index.html">
                    <div class="logo">
                        <div class="imgs">
                            <img src="./public/img/home.png" alt="">
                            <img src="./public/img/milogo2.png" alt="">
                        </div>
                    </div>
                </a>
                <div class="head_title">
                    我的购物车
                    <span class="buy_tip" v-if="car.length>0">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</span>
                </div>
                <div class="user">
                    <div class="user_info show_user-menu">
                        <a href="#" class="hover_color_orange">
                            1497317828
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <div class="user_menu">
                            <nav>
                                <span>个人中心</span>
                                <span>评价晒单</span>
                                <span>我的喜欢</span>
                                <span>小米账户</span>
                                <span>推出登录</span>
                            </nav>
                        </div>
                    </div>
                    <div class="my_order">
                        <a href="#" class="hover_color_orange">我的订单</a>
                    </div>
                </div>
            </nav>
        </header>

        <!-- 动态数据页面 -->
        <div class="page_main">

            <!-- 购物车为空 -->
            <div class="car_none" v-if="car.length==0">
                <div class="car_none_tip">
                    <p>您的购物车还是空的！</p>
                    <button>马上去购物</button>
                </div>
            </div>

            <!-- 购物车数据 -->
            <div class="car_menu" v-else>
                <!-- 头部菜单 -->
                <div class="car_head">
                    <div class="checkAll" style="flex: 2;">
                        <input type="checkbox" v-model="checkAll" @change="checkAllStateChange">
                        <div class="checkbox">
                            <div class="checked"></div>
                        </div>
                        <span class="check-txt">全选</span>
                    </div>
                    <span style="flex: 4;">商品名称</span>
                    <span style="flex: 1;" class="text-center">单价</span>
                    <span style="flex: 2;" class="text-center">数量</span>
                    <span style="flex: 1;" class="text-center">小计</span>
                    <span style="flex: 1;" class="text-center">操作</span>
                </div>
                <!-- 购物车数据 -->
                <div class="car_items">
                    <div class="car_item" v-for="(i,v) in car" :key="i.id">
                        <div class="check" style="flex: 2;">
                            <input type="checkbox" ref="checkOne" @change="changeState" v-model="i.checked">
                            <div class="checkbox">
                                <div class="checked"></div>
                            </div>
                        </div>
                        <div style="flex: 4; display: flex;position: relative;">
                            <img :src="i.imgUrl" alt="" class="car_img">
                            <span class="font-normal-18">
                                {{i.title}}
                            </span>
                        </div>
                        <span style="flex: 1;" class="text-center orange">{{i.price}}元</span>
                        <div style="flex: 2;" class="text-center control_num">
                            <button style="margin-right: 20px;" @click="reduceNum(i, v)">-</button>
                            {{i.count}}
                            <button style="margin-left: 20px;" @click="addNum(i, v)">+</button>
                            <span class="max">{{i.count==1||i.max==0?"":i.max>10?"还可以购买10件以上":`还可以购买${i.max}件`}}</span>
                        </div>

                        <span style="flex: 1;" class="text-center">{{i.count*i.price | toFixed}}</span>
                        <span style="flex: 1; display: flex; justify-content: center;" class="text-center">
                            <span class="close" @click="show_del_tip(v)">×</span>
                        </span>
                    </div>
                </div>
                <!-- 商品数量-价格计算-结算 -->
                <div class="car_balance">
                    <div class="left">
                        <a href="./index.html" class="font-small-13 hover_color_orange black">继续购物</a>
                        <span class="count">
                            共<span class="orange"> {{count}} </span>件商品，已选择<span class="orange"> {{check_num}} </span>件
                        </span>
                    </div>
                    <div class="right flex">
                        <div class="count_money orange">
                            合计：<span class="font-big-30">{{count_money | toFixed}}</span>元
                        </div>
                        <button class="balance">结算</button>
                    </div>
                </div>
            </div>

            <!-- 数据推荐 -->
            <div class="recommend">
                <div class="recommend_title">
                    <span>为您推荐</span>
                </div>
                <div class="recommend_items">
                    <div class="recommend_item" ref="r_items" v-for="(i,v) in recommend">
                        <div class="success_tip">添加成功</div>
                        <img :src="i.imgUrl" alt="">
                        <p class="item_title">{{i.title}}</p>
                        <span class="item_price">{{i.price}}元</span>
                        <p class="item_pl">{{i.pl}}万人好评</p>
                        <button class="add_car" @click="add_car(i,v)">加入购物车</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 删除提示弹框 -->
        <div :class="{del_tip:true, flex:del_tip}" v-if="del_tip">
            <div class="win">
                <span>确定删除吗？</span>
                <div class="sureBtn">
                    <button class="yes" @click="del">确认</button>
                    <button class="no" @click="close_del_tip">取消</button>
                </div>
            </div>
        </div>

        <!-- 商品数量限制弹框 -->
        <div :class="{tips:true, flex:tip}" v-if="tip.isShow">
            <div class="win">
                <span>{{tip.i?tip.txt1:tip.txt2}}</span>
                <div class="sureBtn">
                    <button class="sure" @click="close_tip">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部链接 -->
    <section class="footer">
        <div class="service">
            <ul>
                <li><a href="#">预约维修服务</a></li>
                <li><a href="#">7天无理由退货</a></li>
                <li><a href="#">15天免费换货</a></li>
                <li><a href="#">满99元包邮</a></li>
                <li><a href="#">520余家售后网点</a></li>
            </ul>
        </div>
        <div class="links">
            <div class="link">
                <div class="link-title font-normal">帮助中心</div>
                <span><a href="#" class="font-small">账户管理</a></span>
                <span><a href="#" class="font-small">购物指南</a></span>
                <span><a href="#" class="font-small">订单操作</a></span>
            </div>
            <div class="link">
                <div class="link-title font-normal">服务支持</div>
                <span><a href="#" class="font-small">售后政策</a></span>
                <span><a href="#" class="font-small">自助服务</a></span>
                <span><a href="#" class="font-small">相关下载</a></span>
            </div>
            <div class="link">
                <div class="link-title font-normal">线下门店</div>
                <span><a href="#" class="font-small">小米之家</a></span>
                <span><a href="#" class="font-small">服务网点</a></span>
                <span><a href="#" class="font-small">授权体验店</a></span>
            </div>
            <div class="link">
                <div class="link-title font-normal">关于小米</div>
                <span><a href="#" class="font-small">了解小米</a></span>
                <span><a href="#" class="font-small">加入小米</a></span>
                <span><a href="#" class="font-small">投资者关系</a></span>
                <span><a href="#" class="font-small">企业社会责任</a></span>
                <span><a href="#" class="font-small">廉洁举报</a></span>
            </div>
            <div class="link">
                <div class="link-title font-normal">关注我们</div>
                <span><a href="#" class="font-small">新浪微博</a></span>
                <span><a href="#" class="font-small">官方微信</a></span>
                <span><a href="#" class="font-small">联系我们</a></span>
                <span><a href="#" class="font-small">公益基金会</a></span>
            </div>
            <div class="link">
                <div class="link-title font-normal">特色服务</div>
                <span><a href="#" class="font-small">F 码通道</a></span>
                <span><a href="#" class="font-small">礼物码</a></span>
                <span><a href="#" class="font-small">防伪查询</a></span>
            </div>
            <div class="contact">
                <span class="font-big-2 orange">400-100-5678</span>
                <p class="font-small m-0">8:00-18:00（仅收市话费）</p>
                <a href="#" class="kfbtn">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    人工客服
                </a>
                <div class="follow font-small">
                    关注小米：
                    <div class="img"></div>
                    <div class="img"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="site-info">
        <div class="cnt">
            <div class="logo bg-orange">
                <img src="./public/img/mi-logo.png" alt="">
            </div>
            <div class="text">
                <div class="info-text">
                    <ul class="m-0">
                        <li><a href="#">小米商城</a></li>
                        <li><a href="#">MIUI</a></li>
                        <li><a href="#">米家</a></li>
                        <li><a href="#">米聊</a></li>
                        <li><a href="#">多看</a></li>
                        <li><a href="#">游戏</a></li>
                        <li><a href="#">政策服务</a></li>
                        <li><a href="#">小米天猫店</a></li>
                        <li><a href="#">小米集团隐私政策</a></li>
                        <li><a href="#">小米公司儿童信息保护规则</a></li>
                        <li><a href="#">小米商城隐私政策</a></li>
                        <li><a href="#">小米商城用户协议</a></li>
                        <li><a href="#">问题反馈</a></li>
                        <li><a href="#">Select Location</a></li>
                    </ul>
                    <p class="m-0 font-small-a">
                        <a href="#">© mi.com</a> 京ICP证110507号
                        <a href="#">京ICP备10046444号</a>
                        <a href="#">京公网安备11010802020134号</a>
                        <a href="#">京网文[2020]0276-042号</a>
                    </p>
                    <p class="m-0 font-small-a">
                        <a href="#">（京）网械平台备字（2018）第00005号</a>
                        <a href="#">互联网药品信息服务资格证 (京)-非经营性-2014-0090</a>
                        <a href="#">营业执照</a>
                        <a href="#">医疗器械质量公告</a>
                    </p>
                    <p class="m-0 font-small-a">
                        <a href="#">增值电信业务许可证</a>
                        &nbsp;网络食品经营备案 京食药网食备202010048 &nbsp;
                        <a href="#">食品经营许可证</a>
                    </p>
                    <p class="m-0 font-small-a">
                        违法和不良信息举报电话：171-5104-4404 知识产权侵权投诉 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
                    </p>
                </div>
                <div class="info-link">
                    <img src="./mi-img/footer-link/1.png" alt="">
                    <img src="./mi-img/footer-link/2.png" alt="">
                    <img src="./mi-img/footer-link/3.png" alt="">
                    <img src="./mi-img/footer-link/4.png" alt="">
                    <div class="last">
                        <img id="last-1" src="./mi-img/footer-link/5.png" alt="">
                        <img id="last-2" src="./mi-img/footer-link/6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tip">

        </div>
    </section>
    <script src="./public/js/data.js"></script>
    <script src="./public/js/cart.js"></script>
</body>

</html>